<table id="table">
    <tr>
        <th>#</th>
        <th>Description</th>
        <th>Done?</th>
        <th></th>
    </tr>
    <!--v todos/-->
    <!--b todo-->
    <tr>
        <td>
            <!--v id/-->
            <input class="edit{{v id/}}" type="hidden" name="id" value="{{v id/}}"/>
        </td>
        <td>
            <input class="edit{{v id/}}" type="text" name="description" value="{{v description/}}"/>
        </td>
        <td>
            <!-- TODO try to use checkboxes again -->
            <select class="edit{{v id/}}" name="done">
                <option {{v ifTrue/}}>true</option>
                <option {{v ifFalse/}}>false</option>
            </select>
        </td>
        <td>
            <button hx-put="/todos/{{v id/}}" hx-swap="outerHTML"
                    hx-target="#table" hx-include=".edit{{v id/}}">
                Save
            </button>
        </td>
    </tr>
    <!--/b-->
</table>
